*.pyc
*~
*.sqlite*
*.orig
*.log
*.partial
*.swp
media/**
collected-static/**
elife-articles
venv
client-secrets.json
oauth2.dat
analytics.dat
build
dist
*.egg-info
.env
.coverage
updated-requirements.txt
